$background: #1f232d;
$backgroundAccent: #20222b;
$backgroundLight1: #f5f6f8;

$defaultTextColor: #4a4a4a;
$defaultTextColorDarker: #20222b;
$textColor: #c7ccd8;
$textColorHighlight: white;

$basePink: #ff015b;
$basePinkHover: #c40447;
$baseBlue: #30A9ED;
$baseBlueHover: #1587c9;

$boxShadow: 0 10px 15px rgba(4,39,107,0.2);
$boxShadowLight: 5px 5px 15px rgba(4, 39, 107, 0.2);

$boxShadowNavbar: 0 50px 100px rgba(50,50,93,.1), 0 15px 35px rgba(50,50,93,.15), 0 5px 15px rgba(0,0,0,.1);
